nav
    a(ui-sref="dashboard") Dashboard 
    a(ui-sref="products") Products
    a(ui-sref="categories") Product Categories 
    a.active(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a(ui-sref="keywords") Keywords
    a(ui-sref="adcreative") Ad Creative
    a(ui-sref="channel") Channel

article(ng-controller="CampaignsDetailsController")
    section.item-details
        header.title
            h1 {{details.campaign}}
        .description
            p ad cost: ${{details.ad_cost}}
            p margin: {{details.margin}}%
            p profit: ${{details.profit}}
            p revenue: ${{details.revenue}}
            p total clicks: {{details.total_clicks}}
            p total cost: ${{details.total_cost}}
            p unit cost: ${{details.unit_cost}}
            p units: {{details.units}}

    section.mdl-accordion
        accordion(close-others="oneAtATime")
            accordion-group(ng-repeat="title in header", ng-init="status = {isFirstOpen: true}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled")
                accordion-heading
                    span {{title}} 
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                graphy

