nav
    a(ui-sref="dashboard") Dashboard 
    a(ui-sref="products") Products
    a(ui-sref="categories") Product Categories 
    a.active(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a(ui-sref="keywords") Keywords
    a(ui-sref="adcreative") Ad Creative
    a(ui-sref="channel") Channel

article(ng-controller="CampaignsController")
    header.title
        h1 Campaigns 
        
    section.mainBody
        .buttons
            a.button(href="#") day
            a.button(href="#") month 
            a.button.active(href="#") year 

        #chart

        table
            tr
                th Campaigns
                th Ad Cost
                th Unit Cost
                th Total Cost
                th Units
                th Revenue
                th Profit
                th Margin

            tr(ng-repeat="campaign in campaignResults") 
                td
                    a(ui-sref="campaign-details") {{campaign.campaign}}
                td ${{campaign.ad_cost}}
                td ${{campaign.unit_cost}} 
                td ${{campaign.total_cost}}
                td {{campaign.units}}
                td ${{campaign.revenue}}
                td ${{campaign.profit}}
                td %{{campaign.margin}}

