* 
	margin: 0
	padding: 0

html
	height: 100%

body
	margin: 0
	padding: 0
	height: 100%
	background-color: #fff
	font-family: 'Roboto', sans-serif
	font-size: 16px

a 
	color: #ACA8A8
	text-decoration: none

a:hover
	color: #5A5A5A

.panel
	margin: auto
	width: 95%
	height: 700px
	border: solid 1px red



.splash
	padding: 2em 0

	p
		font-size: 2em
		font-weight: bold

.projects
	background-color: #eee

	.guides-list
		padding-bottom: 2em

		.primary-content
			p 
				margin-top: 0

.skills
	h2 
		text-align: center
	.resume	
		margin: auto auto
		width: 80%
		border: solid 1px #eee

.social-icons
	margin: 1em auto
	a 
		background-repeat: no-repeat;
		text-indent: -3000px
		display: block
		float: left
		width: 28px
		height: 28px
		margin-right: 0.5em

.flickr
	background-image: url('images/flickr.png')

.twitter
	background-image: url('images/twitter.png')

.facebook
	background-image: url('images/facebook.png')

.linkedin
	background-image: url('images/linkedin.png')

.github
	background-image: url('images/github.png')

img
	position: relative
	float: left 