* 
	margin: 0
	padding: 0

html
	height: 100%

body
	background: transparent
	margin: 0
	padding: 0
	height: 100%
	font-size: 16px

a 
	color: #ACA8A8
	text-decoration: none

p
	font-family: "Roboto Condensed", Helvetica, sans-serif;

h2 
	text-align: right
	margin-right: 1em

a:hover
	color: #5A5A5A

.social-icons
	margin: 1em auto
	a 
		background-repeat: no-repeat;
		text-indent: -3000px
		display: block
		float: left
		width: 28px
		height: 28px
		margin-right: 0.5em

.flickr
	background-image: url('images/flickr.png')

.twitter
	background-image: url('images/twitter.png')

.facebook
	background-image: url('images/facebook.png')

.linkedin
	background-image: url('images/linkedin.png')

.github
	background-image: url('images/github.png')
