.mandrade 

	.panel
		background-color: transparent

	.panel-1,
	.panel-2,
	.panel-3
		position: relative

	.panel-inner
		display: block
		width:  800px
		margin: auto auto
		position: relative

	.panel
		margin: auto
		height: 850px


	.panel-1
		color: #000
		background-color: transparent 
		padding-top: 2em
		z-index: 4
		//background: url('images/panel-1-leaves.png') no-repeat transparent
		background-position: 700px 0px

		.tagline
			position: absolute
			left: 29em
			width: 270px
			top: 1em

			h2
				margin: 0

	img.panel-1-body 
		position: absolute
		top: 0
		-ms-transform: rotate(-30deg) 
		-webkit-transform: rotate(-30deg) 
		transform: rotate(-30deg)


	.panel-2
		position: relative
		z-index: 3
		height: 1050px

		.panel-inner
			height: 100%	

		h2
			position: absolute
			margin-left: 18em
			padding-top: 1.5em

		.guides-list
			display: none
			padding-bottom: 2em

			.primary-content
				p 
					margin-top: 0

		.panel-2-tree
			position: absolute

		.pulses
			position: absolute 
			height: 100%
			width: 100%
			z-index: 1

		.pulse 
			position: absolute

		.pulse-1
			top: -340px
			left: 121px
			//top: 384px
			//left: 121px

		.pulse-2
			top: -330px
			left: 325px
			//top: 276px
			//left: 325px

		.pulse-3
			top: -334px
			left: 350px
			//top: 148px
			//left: 550px

		.pulse-4
			top: -350px
			left: 356px
			//top: 57px
			//left: 356px

		.pulse-5
			top: -355px
			left: 220px
			//top: 380px
			//left: 630px



	.panel-3
		border-top: 100px solid transparent 
		border-image: url('images/flowers-border.png') 100% 0% 0% 0% repeat;
		z-index: 2
		background: url('images/panel-3-big.png') no-repeat black top center 
		margin-top: -534px
		height: 1391px

		h2
			position: absolute
			margin-left: 20em;
			margin-top: 16em;
			color: #fff;

		.resume	
			position: absolute 
			margin: 8em auto 0
			width: 100%
			top: 21em

			

			h2 
				color: #fff
				margin-left: 18em
			h3
				color: #fff
				text-align: center
				line-height: 265px
				width: 250px
				height: 265px
				position: absolute
				background-size: 100%
				background-repeat: no-repeat
				background-position: top center
				background-color: transparent

			ul
				color: #6a6a6b
				position: absolute

				li 
					position: absolute
					list-style-type: none


			.resume-html 
				h3
					background-image: url('images/flower-html.png')
					top: 390px
					left: 135px
					width: 232px

				ul
					top: 391px;
					left: 70px;
					width: 440px;
					height: 400px;

					.jade
						left: 300px;
						top: 43px;

					.sem-html
						left: 300px;
						top: 270px

					.accessible
						left: 100px;
						top: 320px;


			.resume-js
				h3
					background-image: url('images/flower-js.png')
					top: 28px
					left: 42px
					width: 232px
				ul
					top: 28px;
					left: 42px;
					width: 438px;
					height: 315px;

					.jquery
						left: 250px
						top: 30px

					.backb
						left: 330px
						top: 100px

					.angular
						left: 270px
						top: 160px

					.node
						left: 250px
						top: 230px

					.grunt
						left: 100px
						top: 270px

			.resume-css
				h3
					background-image: url('images/flower-css.png')
					left: 433px
					top: 204px
					width: 232px
				ul
					left: 533px
					top: 310px
					width: 300px
					height: 400px

					.less
						left: 150px
						top: 30px

					.styl
						left: 180px
						top: 140px

					.boot
						left: 50px
						top: 230px

					.sem-ui
						left: 90px
						top: 320px


		img.panel-3-overlay
			margin: 0 
			position: relative

	.panel-4
		height: 900px
		background-color: #fff

		.about
			width: 250px
			position: relative
			display: inline-block

			h2
				margin-left: 0em 
				padding-top: 3em
		img
			position: absolute 
			right: 0px 
