.panel
	margin: auto
	height: 850px

.panel-1
	z-index: 1
	background: url('images/panel-1.png') no-repeat black top left 
	color: #fff
	padding-top: 2em

	.tagline
		position: relative;
		left: 29em;
		width: 270px;
		top: 1em;

		h2
			margin: 0

.panel-2
	position: relative
	z-index: 3
	height: 1050px
	background: url('images/panel-2.png') no-repeat transparent top left 

	h2
		margin-left: 18em
		padding-top: 1.5em

	.guides-list
		display: none
		padding-bottom: 2em

		.primary-content
			p 
				margin-top: 0


.panel-3
	z-index: 2
	background: url('images/panel-3.png') no-repeat black top left 
	margin-top: -435px
	height: 1215px

	.resume	
		position: relative 
		margin: auto auto
		width: 100%
		top: 21em

		ul
			display: none

		h2 
			color: #fff
			margin-left: 18em
		h3
			color: #fff
			text-align: center
			line-height: 265px
			width: 250px
			height: 265px
			position: absolute
			background-size: 100%
			background-repeat: no-repeat
			background-position: top center
			background-color: transparent

		h3.resume-html
			background-image: url('images/flower-html.png')
			top: 390px
			left: 135px
			width: 232px
		h3.resume-js
			background-image: url('images/flower-js.png')
			top: 28px
			left: 42px
		h3.resume-css
			background-image: url('images/flower-css.png')
			left: 433px
			top: 204px


	.panel-3-overlay
		background: url('images/panel-3-overlay.png') no-repeat transparent bottom left 
		margin: auto
		height: 100%

.panel-4
	background-color: #000

	.panel-4-overlay
		position: absolute
		width: 100%
		height: 100%
		background: url('images/panel-4.png') no-repeat transparent top left 
		margin-top: -210px

	.about
		position: relative
		top: 6em	

		h2
			margin-left: 19em
