.panel
	margin: auto
	height: 850px

.panel-1
	background: url('images/panel-1.png') no-repeat black top left 
	background-size: 75%
	color: #fff
	padding-top: 2em

	.tagline
		position: absolute
		right: 2em 
		width: 30% 
	p
		font-size: 2em
		font-weight: bold

.panel-2
	height: 1050px
	background: url('images/panel-2.png') no-repeat black top left 
	background-size: 75%

	.guides-list
		display: none
		padding-bottom: 2em

		.primary-content
			p 
				margin-top: 0

.panel-3
	background: url('images/panel-3.png') no-repeat black top left 

	.resume	
		position: absolute
		margin: auto auto
		width: 100%

		ul
			display: none
		h3
			color: #fff
			text-align: center
			line-height: 265px
			width: 250px
			height: 265px
			position: absolute
			background-size: 100%
			background-repeat: no-repeat
			background-position: top center
			background-color: transparent

		h3.resume-html
			background-image: url('images/flower-html.png')
			top: 390px
			left: 135px
			width: 232px
		h3.resume-js
			background-image: url('images/flower-js.png')
		h3.resume-css
			background-image: url('images/flower-css.png')
			left: 433px
			top: 204px


	.panel-3-overlay
		background: url('images/panel-3-overlay.png') no-repeat transparent top left 
		margin: auto
		height: 100%

.panel-4
	background-color: #000
.panel-4-overlay
	position: absolute
	width: 100%
	height: 100%
	background: url('images/panel-4.png') no-repeat transparent top left 
	margin-top: -157px

