@media (max-width: 600px) 

	body
		height: 100%
		overflow: hidden

	div
		margin: 0px !important
		padding: 0px !important

	.mobile-menu
		background-color: black;
		display: block
		height: 100%

		.menu-item
			height: 25%

		h2
			margin: 0px
			padding: 0px

	img
		display: none

	.mobile-container

		height: 100%

		.panel
			width: 100%
			height: 25%

		.panel-inner
			height: 100%


