@media (max-width: 600px) 

	body
		height: 100%

	img
		display: none
		position: relative !important

	p, h3
		text-align: center !important
		font-size: 26px !important
		margin: auto

	ul
		height: auto !important


	div, ul, li, header, span, h2, h3
		display: block
		width: 100% !important
		text-align: center !important
		position: relative !important
		top: initial !important
		left: initial !important


	.mandrade
		.panel,
		.panel-inner
			width: 100%

		.panel

			header
				margin-top: 50px !important
				margin-bottom: 30px !important

				h2
					font-size: 70px
				p	
					padding: 60px 60px 0px 60px !important

		div
			margin: 0px !important
			padding: 0px !important

		.panel-1 

			img.panel-1-body
				position: relative
				margin: auto auto
				width: 40%
				display: block
				transform: initial 
				top: auto

			.tagline
				width: 100%
				position: relative
				left: auto
				top: auto

				h2 
					background-position: center center
					margin: auto
				p
					margin: 60px

		.panel-3
			height: auto

			.resume .resume-html h3,
			.resume .resume-js h3,
			.resume .resume-css h3
				width: auto
				top: initial
				left: initial
				display: block
				width: auto
				height: auto
				position: relative
				line-height: 60px;
				background-image: none;

			

		.panel-2 

			.pulse
				position: relative
				height: auto

				ul.project-list
					display: block
					height: auto
					margin-bottom: 35px 

					li a
						font-size: 16px

				.span-pulse
					font-size: 25px
					opacity: 1
					display: block
					top: initial
					left: initial

		.panel-4 
			.about
				margin: auto
				float: none

			.social-icons 
				width: 180px;
				margin: auto auto;
				a
					float: none
					display: inline-block