nav
    a(ui-sref="dashboard") Dashboard 
    a(ui-sref="products") Products
    a(ui-sref="categories") Product Categories 
    a(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a(ui-sref="keywords") Keywords
    a(ui-sref="adcreative") Ad Creative
    a.active(ui-sref="channel") Channel

article(ng-controller="ChannelController")
    header.title
        h1 Channel
        
    section.mainBody
        .buttons
            a.button(href="#") day
            a.button(href="#") month 
            a.button.active(href="#") year 

        #chart

        table
            tr
                th Channel
                th Ad Cost
                th Unit Cost
                th Total Cost
                th Units
                th Revenue
                th Profit
                th Margin
            tr(ng-repeat="channel in channelResults") 
                td
                    a(ui-sref="channel-details") {{channel.channel}}
                td ${{channel.ad_cost}}
                td ${{channel.unit_cost}} 
                td ${{channel.total_cost}}
                td {{channel.units}}
                td ${{channel.revenue}}
                td ${{channel.profit}}
                td %{{channel.margin}}
