section(ng-controller="LoginController")
    .form-container
        form(role="form" ng-submit="login()")
            p(class="form-group")
                label(for="username")
                input(placeholder="USERNAME" type="text" class="form-control" id="username" name="username" ng-model="credentials.username")
            p(class="form-group")
                label(for="password") 
                input(placeholder="PASSWORD" type="password" class="form-control" id="password" name="password" ng-model="credentials.password")
            button(type="submit" class="btn btn-primary") Login 
            p.helper: a(href="#") Forgot Password 
