nav
    a(ui-sref="dashboard") Dashboard 
    a(ui-sref="products") Products
    a(ui-sref="categories") Product Categories 
    a(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a.active(ui-sref="keywords") Keywords
    a(ui-sref="adcreative") Ad Creative
    a(ui-sref="channel") Channel

article(ng-controller="KeywordsController")
    header.title
        h1 Keywords
        
    section.mainBody
        .buttons
            a.button(href="#") day
            a.button(href="#") month 
            a.button.active(href="#") year 

        #chart

        table
            tr
                th Keywords 
                th Ad Cost
                th Unit Cost
                th Total Cost
                th Units
                th Revenue
                th Profit
                th Margin
            tr(ng-repeat="keyword in keywordResults") 
                td
                    a(ui-sref="keyword-details") {{keyword.campaign}}
                td ${{keyword.ad_cost}}
                td ${{keyword.unit_cost}} 
                td ${{keyword.total_cost}}
                td {{keyword.units}}
                td ${{keyword.revenue}}
                td ${{keyword.profit}}
                td %{{keyword.margin}}


