nav
    a(ui-sref="dashboard") Dashboard 
    a(ui-sref="products") Products
    a(ui-sref="categories") Product Categories 
    a(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a.active(ui-sref="keywords") Keywords
    a(ui-sref="adcreative") Ad Creative
    a(ui-sref="channel") Channel

article(ng-controller="KeywordsDetailsController")
    section.item-details
        header.title
            h1 {{details.keyword}}
        .description
            p Ad Cost: ${{details.ad_cost}}
            p Ad Group: {{details.ad_group}}
            p Campaign: {{details.campaign}}
            p Channel: {{details.channel}}
            p Margin: {{details.margin}}%
            p Profit: ${{details.profit}}
            p Revenue: ${{details.revenue}}
            p Total Clicks: {{details.total_clicks}}
            p Total Cost: ${{details.total_cost}}
            p Unit Cost: ${{details.unit_cost}}
            p Units: {{details.units}}

    section.mdl-accordion
        accordion(close-others="oneAtATime")
            accordion-group(ng-repeat="title in header", ng-init="status = {isFirstOpen: true}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled")
                accordion-heading
                    span {{title}} 
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                graphy

