nav
    a(ui-sref="dashboard") Dashboard 
    a.active(ui-sref="products") Products
    a(ui-sref="categories") Product Categories 
    a(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a(ui-sref="keywords") Keywords
    a(ui-sref="adcreative") Ad Creative
    a(ui-sref="channel") Channel

article(ng-controller="ProductsController")
    header.title
        h1 Products 

    section.mainBody(ng-hide="")
        .buttons
            a.button(href="#") day
            a.button(href="#") month 
            a.button.active(href="#") year 

        #chart
            
        table
            tr
                th Products 
                th Ad Cost
                th Unit Cost
                th Total Cost
                th Units
                th Revenue
                th Profit
                th Margin
            tr(ng-repeat="product in productResults") 
                td
                    a(ui-sref="product-details") {{product.product}}
                td ${{product.ad_cost}}
                td ${{product.unit_cost}} 
                td ${{product.total_cost}}
                td {{product.units}}
                td ${{product.revenue}}
                td ${{product.profit}}
                td %{{product.margin}}


