nav
    a.active(ui-sref="dashboard") Dashboard 
    a(ui-sref="products") Products
    a(ui-sref="categories") Product Categories 
    a(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a(ui-sref="keywords") Keywords
    a(ui-sref="adcreative") Ad Creative
    a(ui-sref="channel") Channel

article
    header.title
        h1 Dashboard 
        
    section.mainBody

        .cards
            .card
                h1 $5.25
                h2 CPA BY CHANNEL
                h3 Name Here
            .card
                h1 35%
                h2 Profitibility BY CHANNEL
                h3 Name Here
            .card
                h1 35% / $222.50
                h2 Most Profitable Campaign
                h3 Name Here
            .card
                h1 35% / $222.50
                h2 Most Profitable Ad Creative
                h3 Name Here
        .cards
            .card
                h1 35% / $222.50
                h2 Most Profitable Product 
                h3 Name Here
            .card
                h1 35% / $222.50
                h2 Most Profitable Category 
                h3 Name Here
            .card
                h1 22%
                h2 GMROI By Channel
                h3 Name Here