nav
    a(ui-sref="dashboard") Dashboard 
    a(ui-sref="products") Products
    a(ui-sref="categories") Product Categories 
    a(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a(ui-sref="keywords") Keywords
    a.active(ui-sref="adcreative") Ad Creative
    a(ui-sref="channel") Channel

article(ng-controller="AdCreativeController")
    header.title
        h1 Ad creative 
        
    section.mainBody
        .buttons
            a.button(href="#") day
            a.button(href="#") month 
            a.button.active(href="#") year 

        #chart

        table
            tr
                th Ad Creative 
                th Ad Cost
                th Unit Cost
                th Total Cost
                th Units
                th Revenue
                th Profit
                th Margin
            tr(ng-repeat="ad in adCreativeResults") 
               td
                    a(ui-sref="adcreative-details") {{ad.campaign}}
                td ${{ad.ad_cost}}
                td ${{ad.unit_cost}} 
                td ${{ad.total_cost}}
                td {{ad.units}}
                td ${{ad.revenue}}
                td ${{ad.profit}}
                td %{{ad.margin}}


