p,
    blockquote
    color: #969393
    margin-bottom: 1em

a 
    color: red 
    text-decoration: none

a:hover
    color: #5A5A5A

.social-icons
    text-align: center
    margin: 1em auto
    a 
        background-repeat: no-repeat;
        width: 28px
        height: 28px
        margin-right: 0.5em
        font-size: 30px 

h1.title
    font-weight: normal
    font-size: 7.5em
    margin-bottom: 0
    margin-top: .5em
    line-height: .8em

h2.subtitle
    margin: 0;
    line-height: 27px;
    margin-bottom: 15px;
    overflow: visible;
    letter-spacing: 1px;
    text-transform: uppercase;


.portal
    ul
        padding: 30px
        a 
            color: #969393

        a:hover
            color: #830202
