doctype html
html
	head
		title Malena Andrade: Web Interface Developer

		link(href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo' rel='stylesheet' type='text/css')
		link(href='/public/dist/fonts/styles.css' rel='stylesheet' type='text/css')
		link(type="text/css", rel="stylesheet", href="/public/dist/css/project.min.css")
		<!--[if IE 8]>
		<script src="/public/dist/js/modernizr.js"></script>
		<![endif]-->

	body(class="mandrade", ng-app="mandrade")

		.panel.panel-1
			.panel-inner.splash
				.tagline
					h3.test
						span.c1 A
						span.c2 L
						span.c3 O
						span.c4 o
						span.c5 !
					.description
						p My name is Malena. I currently work remotely with an awesome team at <a href="http://www.igniter.com">Igniter</a>  as a Web Developer doing all sorts of awesome. 
						p This site is a quick peek on my profession. Also just a tid bit about who I am. 
				img.img-malena(src="/public/dist/images/malenafull.png")

		.panel.panel-2
			.panel-inner
				header.header-work
					h2 Expanding my knowledge one branch at a time.
					p I'm lucky to have worked with several great clients. 
					p Working on multiple teams and projects, adapting to multiple roles. 
					p Continually evolving to change, managers become inspirations, coworkers become friends.
				.projects
					.pulse.fun
						span(class="span-pulse") Experiments 
						img(class="img-pulse" src="/public/dist/images/leaf.png")
						ul.project-list
							li.hangman: a(href="http://malena.github.io/angular-hangman/#/") Hangman
							li.calculator: a(href="http://malena.github.io/javascript-experiments/calculator/") Calculator
							li.training: a(href="http://malena.github.io/training/") Training
							li.googlemaps: a(href="http://malena.github.io/javascript-experiments/google_maps/") Google Map Tabs

					.pulse.websites
						span(class="span-pulse") Websites 
						img(class="img-pulse" src="/public/dist/images/leaf.png")
						ul.project-list
							li.gibsons: a(href="http://www.gibsonsfinest.ca/") Gibsons Finest
							li.shel: a(href="http://www.shelsilverstein.com/") Shel Silverstein
							li.home: a(href="http://www.homedepot.ca/") Home Depot
							li.royal: a(href="http://www.royallepage.ca/") Royal LePage 
							li.gm: a(href="http://www.gm.ca/") GM
							li.mead: a(href="http://www.meadjohnson.com/") Mead Johnson

					.pulse.apps
						span(class="span-pulse") Apps 
						img(class="img-pulse" src="/public/dist/images/leaf.png")
						ul.project-list
							li.jumptools: a(href="http://www.jumptools.com/") Jumptools
							li.socialscape: a(href="https://socialsca.pe/#/entries") socialsca.pe

					.pulse.campaigns
						span(class="span-pulse") Campaigns 
						img(class="img-pulse" src="/public/dist/images/leaf.png")
						ul.project-list
							li.holt: a(href="http://www.holtrenfrew.com/") Holt Renfrew
							li.shoppers: a(href="http://www.shoppersdrugmart.ca/") Shoppers Drug Mart

				.panel-2-tree
					img.tree-top(src="/public/dist/images/tree-good.png")
					img.tree-bottom(src="/public/dist/images/roots-good.png")

		.panel.panel-3
			.panel-inner
				.panel-container
					header.panel-3-header
						h2 Continual growth and learning 
						p As a web deveoper I am constantly learning and testing new tools. 
						p From libraries, to frameworks to methodologies and task managers, I've had the chance to play with a bunch.
		
					.resume
						img.panel-3-overlay(src="public/dist/images/panel-3-overlay.png")

						.resume-html
							h3 HTML 
							ul 
								li.jade Jade
								li.sem-html Semantic HTML
								li.accessible Accessible HTML

						.resume-css
							h3 CSS
							ul
								li.less LESS
								li.styl Stylus
								li.boot Bootstrap
								li.sem-ui Semantic UI

						.resume-js
							h3 JS
							ul 
								li.jquery jQuery 
								li.backb Backbone
								li.angular Angular
								li.node Node
								li.grunt Grunt

		.panel.panel-4
			.panel-inner
				img.mountains(src="/public/dist/images/panel-4.png") 
				div.stars
					img.star.star-1(src="/public/dist/images/star1.png") 
					img.star.star-2(src="/public/dist/images/star2.png") 
					img.star.star-3(src="/public/dist/images/star3.png") 
					img.star.star-4(src="/public/dist/images/star4.png") 
					img.star.star-5(src="/public/dist/images/star5.png") 
					img.star.star-6(src="/public/dist/images/star6.png") 
					img.star.star-7(src="/public/dist/images/star7.png") 
					img.star.star-8(src="/public/dist/images/star8.png") 

				header
					h2 Who am I? 
					p Besides doing web stuff, I also love hiking, climbing, cycling and exploring the world. 
					p Mostly I spend my days drinking coffee and massaging my two furry lazy feline kids called Maximus and Jupiter.
					p My dream is to eventually live near mountains and to one day own an alpaca!
				.social-icons
					a.icon-flickr(href="http://www.flickr.com/photos/activitybubble/", target="_blank") Flickr
					a.icon-linkedin(href="http://www.linkedin.com/pub/malena-andrade/14/b14/425", target="_blank") LinkedIn
					a.icon-twitter(href="http://twitter.com/malena_andrade", target="_blank") Twitter
					a.icon-facebook(href="http://www.facebook.com/holamalenita", target="_blank") Facebook
					a.icon-github(href="https://github.com/malena", target="_blank") GitHub
					a.icon-instagram(href="https://instagram.com/malena_andrade", target="_blank") Instagram 
				a.blog(href="http://www.mandrade.com/blog") www.mandrade.com/blog

		
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.11.8/TweenMax.min.js")
	script(src="/public/dist/js/jquery.superscrollorama.js")
	script(src="/public/dist/js/project.min.js")
