$path = '../images/'

body
	overflow-x: hidden
p
	color: #A1A1A1

a 
	color: red 
	text-decoration: none

h3.test
	font-size: 50px;

a:hover
	color: #5A5A5A

.social-icons
	text-align: center
	margin: 1em auto
	a 
		background-repeat: no-repeat;
		text-indent: -3000px
		display: inline-block
		width: 28px
		height: 28px
		margin-right: 0.5em

.flickr
	background-image: url($path + 'flickr.png')

.twitter
	background-image: url($path + 'twitter.png')

.facebook
	background-image: url($path + 'facebook.png')

.linkedin
	background-image: url($path + 'linkedin.png')

.github
	background-image: url($path + 'github.png')

.modal-dialog
	width: 250px	
	height: 250px

.modal-content
	border-radius: 140px 
	width: 100%
	height: 100%

.modal-body
	height: 100%
	text-align: center

	a
		text-align: center
		display: block

.modal-backdrop
	z-index: 2