@charset 'UTF-8';

$path = '../images/'

.mandrade 
	.panel-1,
	.panel-2,
	.panel-3
		position: relative

	.panel-inner
		display: block
		width:  980px
		height: 100%
		margin: auto auto
		position: relative

	.panel
		border-radius: 0px 
		background-color: transparent
		height: 850px

		header
			position: absolute
			right: 0px
			width: 460px

			h2
				margin: 20px;
				line-height: 30px;
				margin-bottom: 15px;
				overflow: visible;
				font-size: 34px;

			p 
				margin-top: 40px


	

	/*
	//////////////////////////////////////////////////////////////////////////////////////////////////
		PANEL 1
	//////////////////////////////////////////////////////////////////////////////////////////////////
	*/

	.panel-1
		color: #000
		background-color: transparent 
		padding-top: 2em
		z-index: 3
		background-position: 700px 0px
		height: 640px

		header.tagline
			display: none

		img.img-malena
			display: none
			position: absolute
			top: -213px
			left: -160px


	/*
	//////////////////////////////////////////////////////////////////////////////////////////////////
		PANEL 2
	//////////////////////////////////////////////////////////////////////////////////////////////////
	*/

	.panel-2
		position: relative
		z-index: 3
		height: auto 

		.panel-inner
			top: 23em

		header
			top: 10em

		.leaf
			width: 50px
			height: 50px
			position: absolute
			cursor: pointer 

			span, img, ul li
				position: absolute

			.span-pulse
				opacity: 0 
				color: red 

				// blackberry playbook fix
				a
					opacity: 0 


		.panel-2-tree
			top: 5em
			left: -5em
			position: relative 
			width: 680px

		.projects
			position: absolute 
			width: 680px
			height: 600px
			z-index: 1

			.img-pulse
				opacity: 0

			.fun
				top: 480px
				left: 56px

				.span-pulse
					top: 20px
					left: 55px	

				.img-pulse
					-ms-transform: rotate(-80deg) 
					-webkit-transform: rotate(-80deg) 
					transform: rotate(-80deg)

			.websites
				top: 380px 
				left: 303px 

				.span-pulse
					top: 55px

				.img-pulse
					-ms-transform: rotate(-45deg) 
					-webkit-transform: rotate(-45deg) 
					transform: rotate(-45deg)

			.apps
				top: 145px 
				left: 43px 

				.span-pulse
					top: 5px
					left: -40px

			.campaigns
				top: 152px;
				left: 364px;

				.img-pulse
					-ms-transform: rotate(90deg) 
					-webkit-transform: rotate(90deg) 
					transform: rotate(90deg)

				.span-pulse
					top: -9px
					left: -75px

	.panel-2-grass
		background-image: url($path + 'flowers-border.png') 
		background-repeat: repeat-x
		background-position: bottom
		background-size: 222px
		display: block;
		width: 100%;
		height: 90px;


	/*
	//////////////////////////////////////////////////////////////////////////////////////////////////
		PANEL 3
	//////////////////////////////////////////////////////////////////////////////////////////////////
	*/

	.panel-3
		background-color: #000
		z-index: 2
		height: 1770px
		overflow-x: hidden

		header
			color: #f1f0f0
			top: 350px
			width: 500px

		ul 
			color: #bbb
			height: auto

		.resume	
			position: absolute 
			margin: auto auto
			width: 100%
			top: 500px

			h3
				color: #f1f0f0
				text-align: center
				line-height: 250px
				font-size: 1.2em
				width: 250px
				height: 265px
				position: absolute
				background-size: 100%
				background-repeat: no-repeat
				background-position: top center
				background-color: transparent

			ul
				position: absolute
				width: auto 

				li 
					list-style-type: none 
					text-align: center


			.resume-html 
				h3
					background-image: url($path + 'flower.png')
					top: 368px
					left: 135px
					height: 290px

				ul
					top: 610px;
					left: 217px;

			.resume-js
				h3
					background-image: url($path + 'flower.png')
					top: 28px
					left: 42px
				ul
					top: 157px
					left: 293px

					.jquery
						left: 250px
						top: 30px

					.backb
						left: 330px
						top: 100px

					.angular
						left: 270px
						top: 160px

					.node
						left: 250px
						top: 230px

					.grunt
						left: 100px
						top: 270px

			.resume-css
				h3
					background-image: url($path+ 'flower.png')
					left: 460px
					top: 218px
				ul
					left: 543px;
					top: 462px;

					.less
						left: 150px
						top: 30px

					.styl
						left: 180px
						top: 140px

					.boot
						left: 50px
						top: 230px

					.sem-ui
						left: 90px
						top: 320px


		img.curls
			margin: 0 
			position: relative
			max-width: 800px

	/*
	//////////////////////////////////////////////////////////////////////////////////////////////////
		PANEL 4
	//////////////////////////////////////////////////////////////////////////////////////////////////
	*/

	.panel-4
		height: 380px
		background-color: #fff

		.panel-inner
			height: 100%
			z-index: 2

		.stars
			position: absolute
			top: -400px
			left: 0px
			width: 980px

			.star	
				position: relative
				background-image: url($path + 'stars.png');
				width: 30px;
				height: 30px;

			.star-1
				left: 20px
				top: 30px
				background-position: top left;

			.star-2
				left: 40px
				top: 213px
				background-position: 0px 60px;

			.star-3
				left: 700px
				top: 160px
				background-position: 0px 90px;

			.star-4
				left: 437px
				top: 30px
				background-position: 0px 120px;

			.star-5
				left: 500px
				top: 0px
				background-position: 0px 150px;

			.star-6
				left: 300px
				top: 100px
				background-position: 0px 180px;

			.star-7
				left: 100px
				top: 100px
				background-position: 0px 210px;

			.star-8
				left: 0px
				top: 100px
				background-position: 0px 240px;

		header
			width: 70%;
			position: relative;
			text-align: center;
			top: auto;
			right: auto;
			padding-top: 40px
			margin: auto auto

			h2,h3,p
				text-align: center 
				clear: both
				float: none

		img.mountains
			top: -267px
			position: absolute
			z-index: -1
			width: 100%;

		.blog
			width: 100%
			text-align: center
			display: block
			padding-bottom: 30px

		.about
			position: relative
			display: block
			margin-top: 60px

			h2
				margin-left: 0em 
				padding-top: 3em

			p
				text-align: center;

		img.about-me
			position: absolute 
			right: 0
			top: 35px

		.social-icons
			clear: both
