$path = '../images/'

.mandrade 
	.panel-1,
	.panel-2,
	.panel-3
		position: relative

	.panel-inner
		display: block
		width:  980px
		height: 100%
		margin: auto auto
		position: relative

	.panel
		border-radius: 0px 
		background-color: transparent
		height: 850px

		header
			position: absolute
			right: -30px
			text-align: right
			width: 270px

			h2, h3
				margin: 0

			h2
				text-transform: uppercase;
				font-size: 31px;
				line-height: 27px;
				margin-bottom: 15px;
				overflow: visible;
				float: right;

			h3
				font-size: 13px

	/*
	//////////////////////////////////////////////////////////////////////////////////////////////////
		PANEL 1
	//////////////////////////////////////////////////////////////////////////////////////////////////
	*/

	.panel-1
		color: #000
		background-color: transparent 
		padding-top: 2em
		z-index: 3
		background-position: 700px 0px
		height: 640px

		.tagline
			display: none
			position: absolute
			right: 0px 
			width: 490px

			p 
				text-align: right

		img.img-malena
			display: none
			//transform: rotate(-30deg)
			position: absolute
			top: -213px
			left: -160px


	/*
	//////////////////////////////////////////////////////////////////////////////////////////////////
		PANEL 2
	//////////////////////////////////////////////////////////////////////////////////////////////////
	*/

	.panel-2
		position: relative
		z-index: 3
		height: auto 

		.panel-inner
			top: 23em

		header
			top: 12em
			width: 300px
			right: 0px

			p.p-2
				margin-top: 5em

		.leaf
			width: 50px
			height: 50px
			position: absolute
			cursor: pointer 

			span, img, ul li
				position: absolute

			.span-pulse
				opacity: 0 
				color: red 

			ul.project-list
				display: none 
				width: 200px
				height: auto 

				li
					list-style-type: none
					width: 150px 

					a
						color: #bbb
						font-size: 13px

		.panel-2-tree
			top: 5em
			position: relative 

		.projects
			position: absolute 
			width: 680px
			height: 600px
			z-index: 1

			.img-pulse
				opacity: 0

			.fun
				top: 25em 
				left: 210px

				.span-pulse
					top: 20px
					left: 55px	

				.img-pulse
					-ms-transform: rotate(-80deg) 
					-webkit-transform: rotate(-80deg) 
					transform: rotate(-80deg)

				.hangman
					top: 33px
					left: -91px	
				.calculator
					top: 68px 
					left: -59px
				.training
					top: -35px
					left: -36px
				.googlemaps
					left: -153px
					top: -9px

			.websites
				top: 380px 
				left: 486px 

				.span-pulse
					top: 55px

				.img-pulse
					-ms-transform: rotate(-45deg) 
					-webkit-transform: rotate(-45deg) 
					transform: rotate(-45deg)

				.gibsons
					top: -25px
					left: 70px

				.shel
					top: 10px
					left: 90px

				.home
					top: 55px
					left: 104px

				.royal
					top: 135px
					left: 50px

				.gm
					top: 95px
					left: 105px

				.mead
					top: 170px
					left: 0px

			.apps
				top: 140px 
				left: 200px 

				.span-pulse
					top: 5px
					left: -40px


				.jumptools
					top: 44px
					left: -50px

				.socialscape
					top: -32px
					left: -80px 

				.pine 
					top: -50px
					left: 0px


			.campaigns
				top: 348px
				left: 385px 

				.img-pulse
					-ms-transform: rotate(90deg) 
					-webkit-transform: rotate(90deg) 
					transform: rotate(90deg)

				.span-pulse
					top: 8px
					left: 59px

				.shoppers
					top: 54px
					left: 10px

				.holt
					top: -35px
					left: -10px


	.panel-2-grass
		background-image: url($path + 'flowers-border.png') 
		background-repeat: repeat-x
		background-position: bottom
		background-size: 222px
		display: block;
		width: 100%;
		height: 90px;


	/*
	//////////////////////////////////////////////////////////////////////////////////////////////////
		PANEL 3
	//////////////////////////////////////////////////////////////////////////////////////////////////
	*/

	.panel-3
		background-color: #000
		z-index: 2
		height: 1770px

		.panel-inner
			height: 100%
			width: 100%

		.panel-container
			width: 900px
			margin: auto auto
			position: relative

		header
			width: 463px
			color: #fff


		.panel-3-header
			top: 420px

		ul 
			color: #bbb
			height: auto

		.resume	
			position: absolute 
			margin: auto auto
			width: 100%
			top: 500px

			h3
				color: #fff
				text-align: center
				line-height: 250px
				font-size: 1.2em
				width: 250px
				height: 265px
				position: absolute
				background-size: 100%
				background-repeat: no-repeat
				background-position: top center
				background-color: transparent

			ul
				position: absolute
				width: auto 

				li 
					list-style-type: none 
					text-align: center


			.resume-html 
				h3
					background-image: url($path + 'flower.png')
					top: 368px
					left: 135px
					height: 290px

				ul
					top: 610px;
					left: 217px;

			.resume-js
				h3
					background-image: url($path + 'flower.png')
					top: 28px
					left: 42px
				ul
					top: 157px
					left: 293px

					.jquery
						left: 250px
						top: 30px

					.backb
						left: 330px
						top: 100px

					.angular
						left: 270px
						top: 160px

					.node
						left: 250px
						top: 230px

					.grunt
						left: 100px
						top: 270px

			.resume-css
				h3
					background-image: url($path+ 'flower.png')
					left: 460px
					top: 218px
				ul
					left: 543px;
					top: 462px;

					.less
						left: 150px
						top: 30px

					.styl
						left: 180px
						top: 140px

					.boot
						left: 50px
						top: 230px

					.sem-ui
						left: 90px
						top: 320px


		img.curls
			margin: 0 
			position: relative

	/*
	//////////////////////////////////////////////////////////////////////////////////////////////////
		PANEL 4
	//////////////////////////////////////////////////////////////////////////////////////////////////
	*/

	.panel-4
		height: 380px
		background-color: #fff

		.panel-inner
			height: 100%
			z-index: 2

		.stars
			position: absolute
			top: -400px

			.star	
				position: absolute
				background-image: url($path + 'stars.png');
				width: 30px;
				height: 30px;

			.star-1
				left: 800px
				top: 30px
				background-position: top left;

			.star-2
				left: 830px
				top: 213px
				background-position: 0px 60px;

			.star-3
				left: 600px
				top: 160px
				background-position: 0px 90px;

			.star-4
				left: 370px
				top: 180px
				background-position: 0px 120px;

			.star-5
				left: 400px
				top: 0px
				background-position: 0px 150px;

			.star-6
				left: 200px
				top: 100px
				background-position: 0px 180px;

			.star-7
				left: 0px
				top: 200px
				background-position: 0px 210px;

			.star-8
				left: -100px
				top: 100px
				background-position: 0px 240px;

		header
			width: 70%;
			position: relative;
			text-align: center;
			top: auto;
			right: auto;
			padding-top: 40px
			margin: auto auto

			h2,h3,p
				text-align: center 
				clear: both
				float: none

		img.mountains
			top: -267px
			left: -60px
			position: absolute
			z-index: -1

		.blog
			width: 100%
			text-align: center
			display: block
			padding-bottom: 30px

		.about
			position: relative
			display: block
			margin-top: 60px

			h2
				margin-left: 0em 
				padding-top: 3em

			p
				text-align: center;

		img.about-me
			position: absolute 
			right: 0
			top: 35px

		.social-icons
			clear: both