@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 

	body
		height: 100%

	img
		display: none
		position: relative !important

	p, h3
		text-align: center !important
		font-size: 75px !important
		margin: auto

	ul
		height: auto !important

	li
		font-size: 75px


	div, ul, li, header, span, h2, h3
		display: block
		width: 100% !important
		text-align: center !important
		position: relative !important
		top: initial !important
		left: initial !important


	.mandrade
		.panel,
		.panel-inner
			width: 100%
			height: auto

		.panel

			header
				margin-top: 50px !important
				margin-bottom: 30px !important

				h2
					font-size: 120px
				p	
					padding: 60px 60px 0px 60px !important

		div
			margin: 0px !important
			padding: 0px !important

		.panel-1 

			img.img-malena
				position: relative
				margin: auto auto
				width: 40%
				display: block
				transform: initial 
				top: auto

			.tagline
				width: 100%
				position: relative
				left: auto
				top: auto

				h2 
					background-position: center center;
					margin: auto;
					background-size: 80%;
					height: 360px;

				p
					margin: 60px

		.panel-3
			height: auto

			.resume .resume-html h3,
			.resume .resume-js h3,
			.resume .resume-css h3
				width: auto
				top: initial
				left: initial
				display: block
				width: auto
				height: auto
				position: relative
				line-height: 60px;
				background-image: none;

			

		.panel-2 

			.pulse
				position: relative
				height: auto

				ul.project-list
					display: block
					height: auto
					margin-bottom: 35px 

					li a
						font-size: 45px

				.span-pulse
					font-size: 80px
					opacity: 1
					display: block
					top: initial
					left: initial

		.panel-4 
			.panel-inner
				margin-bottom: 150px !important
			a
				font-size: 60px
			.about
				margin: auto
				float: none

			.social-icons 
				width: 180px;
				margin: auto auto;

				a
					width: 85px
					height: 85px
					float: none
					display: inline-block
					background-size: 100%
