@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {

    .modal-dialog {
        width: 850px;
        height: 500px;
        margin-top: -250px;
        margin-left: -425px; 
    }

    .modal-body {
        h3 {
            font-size: 35px 
        } 
        p,a {
            font-size: 30px 
        } 
    } 
    
    .tagline,
    img.img-malena {
        display: block;
    }


    blockquote {
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
        font-size: 47px;
    }

    blockquote:before {
        color: #ccc;
        content:"\201C";
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.1em;
        vertical-align: -0.4em;
    }

    blockquote:after {
        color: #ccc;
        content:"\201D";
        font-size: 4em;
        line-height: 0.1em;
        margin-left: 0.1em;
        vertical-align: -0.4em;
    }

    body {
        width: 104% 
        font-size: 16px
    }

    .panel {
        width: 100%
    }

    .panel-inner {
        padding: 30px;
        box-sizing: border-box;
    }

    .mandrade  {

        .panel {
            p {
                font-size: 49px
                text-align: center
            }
        }

        .panel header {
            right: 0px;

            h2 {
                width: 100%
                font-size: 75px
                line-height: 90px
                text-align: center
                margin-bottom: 60px
            }
        }

        .panel-1 {
            height: 2500px;
            padding-top: 0;

            .panel-inner {
                margin-top: 0;
                padding-top: 0;
            }

            header {
                h1.title {
                    margin-top: 60px;
                    font-size: 2.6em;
                    text-align: center;
                }

                h2 {
                    font-size: 1em;
                }
            }

            img.img-malena {
                display: none;
                top: -180px;
                left: -128px;
                transform: rotate(30deg);
                -webkit-transform: rotate(30deg);
            }

            header.tagline {
                top: 0px; 
                left: 0px;
                position: relative;
                width: 100%
                display: block
                font-size: 48px;
            }
        }

        .panel-2 {
            height: 2960px;

            .projects {
                left: 245px;
                bottom: 165px;

                .leaf .img-pulse,
                .leaf .span-pulse {
                    opacity: 1
                }

                .leaf .span-pulse a {
                    font-size: 35px;
                }
                .leaf.campaigns .span-pulse {
                    left: 85px;
                }
                .leaf.apps .span-pulse {
                    left: -85px;
                }
                .leaf.websites .span-pulse {
                    top: 44px;
                    left: 43px; 
                }
                .leaf.fun .span-pulse {
                    top: 27px;
                    left: -200px;
                }
            }

            .panel-inner {
                top: 10em;
            }

            p {
                text-align: center;
            }

            .panel-2-tree {
                left: auto;
                top: 11em;
                position: relative;
                width: 72%;
                margin: auto auto;
            }

            header {
                width: 100%;
                position: relative;
                top: auto;
                left: auto;

                h2 {
                    width: 100%;
                    margin-bottom: 60px;
                }
            }

            .panel-2-grass {
                height: 2em;
                margin-top: -1em;
            }


        }

        .panel-3 {
            height: 3500px;

            header {
                position: relative;
                width: 100%;
                top: 600px

                h2, p {
                    width: 100%;
                    text-align: center;
                }
            }

            .resume {
                top: 2070px;
                left: 30px;

                ul {
                    display: none;
                }
            }
        }

        .panel-4 {
            img.mountains {
                top: -267px;
                left: 0px;
                z-index: -1;
                width: 100%;
            }

            header {
                padding-top: 100px;
                width: 100%;
            }

            .social-icons a {
                font-size: 5em;
            }

            .blog {
                font-size: 60px;
                margin-bottom: 100px;
            }
        }
    }
}


@media only screen and (min-device-width: 594px) and (max-device-width: 1200px) {

    .mandrade {

        .panel-2 {
            .leaf .img-pulse,
            .leaf .span-pulse {
                opacity: 1
            }
        }

        .panel-1 img.img-malena {
            display: block;
            left: -260px;
        }

        .panel header {
            right: 0px;
        }

        .panel-1 header.tagline {
            display: block;
        }
    }

    img.mountains {
        width: 1050px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    img.img-malena {
        display: block;
        transform: rotate(-30deg);
    }

    header.tagline {
        display: block;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}