@media only screen and (max-width: 1000px) {
    .mandrade {
        h1.title {
            font-size: 5.5em
        }

        .panel header {
            width: 300px
            p {
                font-size: 23px
                line-height: 28px 
            }
        }

        .panel-inner {
            width: 760px
        }

        .panel-4 {
            width: 760px
            margin: auto auto
            header {
                width: 760px;
            }
            .stars {
                width: 760px
            }
        }
    }
}
@media only screen and (max-width: 880px) {
    .mandrade {
        h1.title {
            font-size: 5em
        }
        .panel header {
            //width: 300px
            p {
                font-size: 22px
                line-height: 1 
            }
        }

        .panel-inner {
            width: 700px
        }

        .panel-4 {
            width: 700px
            header {
                width: 700px;
            }
            .stars {
                width: 700px
            }
        }

        .panel-3 {
            img.curls {
                max-width: 650px;
                left: 0
            }
        }
    }
}
@media only screen and (max-width: 760px) {
    .mandrade {
        .panel-inner {
            width: 550px;
        }
        h1.title {
            font-size: 3em
        }
        .panel header {
            p {
                font-size: 20px
                line-height: 1 
            }
        }
        .panel-2 {
            .projects {
                width: 600px;
            }
            .panel-2-tree {
                img {
                    max-width: 600px;
                }
            }
        }

        .panel-4 {
            width: 580px
            header {
                width: 420px;
            }
            .stars {
                width: 520px
                display:none;
                overflow: hidden;

                .star-3 {
                    display: none;
                }
            }
            img.mountains {
                max-width: 580px;
            }
        }

        .panel-3 {
            img.curls {
                max-width: 600px;
                left: 0
            }
        }
    }
}
@media only screen and (max-width: 320px) {
    .mandrade {
        .panel-inner {
            padding: 0;
        }
    }

}


