@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    
    .tagline,
    img.img-malena {
        display: block;
    }


    blockquote {
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
        font-size: 47px;
    }

    blockquote:before {
        color: #ccc;
        content:"\201C";
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.1em;
        vertical-align: -0.4em;
    }

    blockquote:after {
        color: #ccc;
        content:"\201D";
        font-size: 4em;
        line-height: 0.1em;
        margin-left: 0.1em;
        vertical-align: -0.4em;
    }

    body {
        width: 104% 
        font-size: 16px
    }

    .panel {
        width: 100%
    }

    .panel-inner {
        padding: 30px;
        box-sizing: border-box;
    }

    .mandrade  {

        p {
            font-size: 49px
        }

        .panel header {
            right: 0px;

            h2 {
                width: 100%
                font-size: 75px
                line-height: 90px
                text-align: center
                margin-bottom: 60px
            }
        }

        .c5 {
            padding-left: 0px;
        }

        .panel-1 {
            height: 1700px;

            h3.test {
                font-size: 22px;
                margin-bottom: 30px;
            }

            img.img-malena {
                top: -180px;
                left: -128px;
                transform: rotate(30deg);
                -webkit-transform: rotate(30deg);
            }

            .tagline {
                top: 0px; 
                left: 0px;
                position: relative;
                width: 100%
                display: block
                font-size: 48px;

                p {
                    float: right;
                    width: 56%;
                }

                .p-4 {
                    width: 100%;
                    float: right;
                    color: #737373;
                    text-align: center;
                    font-size: 44px;
                }

                .p-2 {

                    float: right;
                }

            }
        }
        .panel-2 {
            height: 2000px;

            .panel-inner {
                top: 10em;
            }

            p {
                text-align: center;
            }

            .panel-2-tree {
                left: auto;
                top: 11em;
                position: relative;
                width: 72%;
                margin: auto auto;
            }

            header {
                width: 100%;
                position: relative;
                top: auto;
                left: auto;

                h2 {
                    width: 100%;
                    margin-bottom: 60px;
                }
            }

            .panel-2-grass {
                height: 2em;
                margin-top: -1em;
            }
        }

        .panel-3 {
            height: 2700px;

            .panel-3-header {
                width: 100%;
                h2, p {
                    width: 100%;
                    text-align: center;
                }
            }

            .resume {
                top: 1350px;
                left: 30px;

                ul {
                    display: none;
                }
            }
        }

        .panel-4 {
            img.mountains {
                top: -243px;
                left: 0px;
                z-index: -1;
                width: 100%;
            }

            header {
                padding-top: 100px;
                width: 100%;
            }

            .social-icons a {
                font-size: 5em;
            }

            .blog {
                font-size: 60px;
                margin-bottom: 100px;
            }
        }
    }
}


@media only screen and (min-device-width: 594px) and (max-device-width: 1200px) {
    body {
        width: 106%
    }

    .mandrade {
        .panel-1 .tagline {
            display: block;
        }
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    img.img-malena {
        display: block;
        transform: rotate(-30deg);
    }

    .tagline {
        display: block;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}