* 
    margin: 0
    padding: 0
    box-sizing: border-box

html
    padding: 0px
    margin: 0px
    height: 100%
    width: 100%

html,
button,
input,
select,
textarea
    color: #222;

body
    background: #fff 
    margin: 0
    padding: 0
    height: 100%
    font-size: 16px
    font-family: 'Architects Daughter', cursive
    line-height: 1.4

a
    color: red 

a:visited
    color: #830202 

a:hover
    color: #830202 

p,
blockquote
    margin-bottom: .8em
    text-align: right

h1,h2,h3,h4,h5,h6 
    font-family: 'Architects Daughter', cursive
    //font-family: 'Swanky and Moo Moo', cursive

img
    vertical-align: middle;