* 
    margin: 0
    padding: 0
    box-sizing: border-box

html
    padding: 0px
    margin: 0px
    height: 100%
    width: 100%

html,
button,
input,
select,
textarea
    color: #1D1C1C;

body
    background: #F1F0F0
    margin: 0
    padding: 0
    height: 100%
    font-size: 16px
    line-height: 1.4
    font-family: 'Raleway', sans-serif;

p
    //font-family: 'NTR', sans-serif;
    //font-family: 'Alegreya Sans', sans-serif;
    //font-family: 'Architects Daughter', cursive
    //font-family: 'Lora', serif;
    //font-family: 'Noto Serif', serif;
    font-weight: 200
    font-size: 28px
    line-height: 38px
    letter-spacing: .1px
    text-align: center

a
    color: red 

a:visited
    color: #830202 

a:hover
    color: #830202 


h1,h2,h3,h4,h5,h6 
    font-family: 'Architects Daughter', cursive
    text-align: center;

img
    vertical-align: middle;

li
    list-style-type: none;
