nav
    a(ui-sref="dashboard") Dashboard 
    a(ui-sref="products") Products
    a.active(ui-sref="categories") Product Categories 
    a(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a(ui-sref="keywords") Keywords
    a(ui-sref="adcreative") Ad Creative
    a(ui-sref="channel") Channel

article(ng-controller="CategoriesController")
    header.title
        h1 Product Categories 
        
    section.mainBody
        .buttons
            a.button(href="#") day
            a.button(href="#") month 
            a.button.active(href="#") year 

        #chart 

        table
            tr
                th Product Categories 
                th Ad Cost
                th Unit Cost
                th Total Cost
                th Units
                th Revenue
                th Profit
                th Margin
            tr(ng-repeat="category in categoryResults") 
                td
                    a(ui-sref="category-details") {{category.product_category}}
                td ${{category.ad_cost}}
                td ${{category.unit_cost}} 
                td ${{category.total_cost}}
                td {{category.units}}
                td ${{category.revenue}}
                td ${{category.profit}}
                td %{{category.margin}}
