.mdl-accordion
	clear: both
	margin-top: 3em

	.panel-default
		border: none;

	.panel-default > .panel-heading
		border: none;
		background-color: clrGrey

		h4
			color:  #8f98a4;
			text-transform: uppercase;
			font-weight: 400

	#chart
		margin: 1em auto;