body
	background-color: #fff
	font-family: fontFam

.app-container
	position: relative
	height: 100%




section.mainSection
	float: left
	width: 100%
	height: 90%

	article
		padding: 3% 5%
		float: left
		width: 86%
		background-color: clrOffWhite

		header.title
			h1
				margin-top: .5em

		section.mainBody
			margin-top: 1em
			padding: 1em 0
			display: table
			width: 100%

			.cards
				display: block;
				width: 100%;
				float: left;

				h1
					margin-top: 0;
					font-weight: 300;
					height: 150px
					display: table-cell
					text-align: center;
					vertical-align: middle
					width: inherit

				h2
					font-size: .8em
					font-weight: 800
					text-transform: uppercase
					max-width: 10em
					margin: auto auto
					margin-bottom: 1.1em
					height: 2.5em

				h3
					font-weight: 300
					font-size: .8em

			.card
				border: solid .5em #FAFCFD;
				width: 25%;
				height: 250px;
				display: block;
				background-color: #FFF;
				text-align: center;
				float: left;

#chart.c3
	clear: both

	.c3-line-Ad-Cost,
	.c3-line-Unit-Cost,
	.c3-line-Profit,
	.c3-line-Margin,
	.c3-line-Total-Clicks
		stroke-width: 3px

	.c3-legend-item
		font-size: 15px
