button, .button
	border-radius: btnRds
	border: none
	text-transform: uppercase
	font-size: 100%
	padding: 1em 2em
	margin-top: 1.7em
	margin-bottom: 1.2em
	cursor: pointer
	clear: 	both
	text-align: center
	min-width: 7em

.button
	border: solid 3px clrGrey
	border: btnBrd
	display: inline-block
	margin-left: 1em
	color: btnClrL

.button.active
	border: btnBrdAct 
	color: clrAct

.button:hover {
	border: btnBrdAct 
	color: clrAct
}
