.form-container
    margin: auto auto
    display: table-cell
    vertical-align: middle
    text-align: center

    form
        margin: auto auto
        vertical-align: middle
        text-align: center
        width: 18em

        ::-webkit-input-placeholder { /* WebKit browsers */
            color: inpPhClr;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: inpPhClr;
            opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: inpPhClr;
            opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10+ */
            color: inpPhClr;
        }

        input
            padding: 1em
            border-radius: btnRds
            font-size: 1em
            margin-bottom: .4em
            height: 100%
            width: 100%;
            border: inpBrd

       
        .helper
            text-transform: uppercase
            clear: both
            margin-bottom: 1.5em
            font-size: 90%
            color: clrHelper
