header.header
    height: 12%
    width: 100%
    float: left
    padding: 1em
    border-bottom: solid 1px clrGrey 
    display: table

    .brand
        float: left
        width: 100%
        display: table
        position: relative

        img
            float: left
        small
            display: table-cell
            vertical-align: middle
            text-align: right
            position: relative
            text-transform: uppercase
            right: 0
            color: #939598

    .menu
        text-align: right
        display: table-cell
        vertical-align: middle

        span.icon-menu
            font-family: adchemix
            font-size: 2em
            vertical-align: middle
            color: btnClr

            
