.item-details		

	h1
		font-size: 2em;
		line-height: 1em;
		margin-bottom: .5em;

	.description
		img
			float: left
			margin-right: 1em

		.details
			margin-top: 1em
			margin-bottom: 1em
			height:	 85px
			overflow: hidden

		table
			width: 65%
			float: left

		p
			padding: 0 0 .2em 0
			font-size: 14px	
