.legend
	width: 100%
	clear: both
	display: table

	ul 
		width: 100%
		display: table
		vertical-align: middle

		li
			width: 20%
			display: inline-block 

		li:before
			content: '\2022'
			padding-right: 7px
			font-size: 60px
			vertical-align: middle

		li span
			display: inline-block;
			vertical-align: middle;
			height: 100%;
			position: relative;
			top: 5px;

		li.ad:before
			color: clrAd

		li.unit:before
			color: clrUnit 

		li.profit:before
			color: clrProfit

		li.margin:before
			color: clrMargin

		li.total:before
			color: clrTotal 
