.page-login
    height: 100%

    section.mainSection
        width: 70%
        height: 100%
        float: left
        background-color: clrGrey

        button
            background-color: btnClr
            color: #fff
            width: 9em

        section
            display: table
            height: 100%
            width: 100%

        
    header.header
        display: table
        width: 30%
        height: 100%

        .menu
            display: none;

        .brand
            float: none
            text-align: center
            vertical-align: middle
            display: table-cell

            img
                float: none
                text-align: center

            small
                display: none