nav
	text-transform: uppercase
	float: left
	width: 14%
	height: auto
	background-color: clrGrey

	a
		padding: 2em
		clear: both;
		display: block;
		border-bottom: solid 1px #fff
		color: clrNav

	a.active 
		background-color: #fff
		color: clrHeader