table
	margin-top: 3.5em
	font-size: 80%
	float: left
	width: 100%
	background-color: #fff
	font-family: fontFam

	tr:nth-child(odd)
		background-color: clrLightGrey

	th
		text-transform: uppercase
		background-color: clrGrey
		color: clrTblHeader 
		padding: 1em
		vertical-align: middle
		font-weight: 800
		white-space: nowrap


	td
		padding: 1.4em
		text-align: center

	th:first-child,
	td:first-child
		text-align: left
