header.primary-nav {
  position: relative;
  margin: auto;
  width: 100%;
  background-color: #164722;
  z-index: 1;
  height: 90px;
}
@media (min-width: 768px) {
  header.primary-nav {
    position: fixed;
    height: 150px;
  }
}
header.primary-nav .primary-logo {
  width: 175px;
  display: block;
  padding: 30px 0;
}
@media (min-width: 992px) {
  header.primary-nav .primary-logo {
    width: 256px;
  }
}
header.primary-nav .primary-logo .logo {
  max-height: 60px;
}
@media (min-width: 992px) {
  header.primary-nav .primary-logo .logo {
    max-height: 100px;
  }
}
nav {
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin: auto;
  position: absolute;
  justify-content: flex-end;
  right: 30px;
  display: none;
}
@media (min-width: 768px) {
  nav {
    top: 45px;
    display: flex;
  }
}
@media (min-width: 1200px) {
  nav {
    top: 65px;
    right: 0px;
  }
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}
nav li {
  display: block;
  margin: 0px 10px;
  text-transform: uppercase;
}
nav li a {
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  position: relative;
}
nav li a:hover:after {
  content: '';
  border-bottom: solid 2px #fff;
  display: block;
  bottom: -2px;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
footer {
  background-color: #164722;
  height: 80px;
  display: flex;
}
footer ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding-left: 0;
}
footer ul a.modal-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 10px;
  text-decoration: none;
}
@media (min-width: 992px) {
  footer ul a.modal-title {
    font-size: 16px;
    padding-left: 40px;
  }
}
footer ul a:hover {
  text-decoration: underline;
}
.modal {
  display: none;
  z-index: 1000;
  border: solid;
  padding: 55px 20px 30px;
  color: #000;
  background-color: #fabd13;
  border-radius: 3px;
  position: fixed;
  max-width: 500px;
  top: 40%;
  left: 35%;
  transform: translate(-33%, -40%);
  width: 90%;
  margin: 0;
}
@media (min-width: 992px) {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}
.modal p {
  font-size: 15px;
}
@media (min-width: 576px) {
  .modal p {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .modal p {
    font-size: 24px;
    line-height: 32px;
  }
}
.modal a {
  padding-left: 0;
  text-transform: none;
  color: #164722;
  text-decoration: none;
}
.modal a:hover {
  text-decoration: underline;
}
.modal-3 p {
  margin-bottom: 20px;
}
.modal-3 a {
  display: block;
  clear: both;
  padding: 10px 0 0 0;
}
.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  width: 26px;
  height: 26px;
  color: #000;
  font-family: arial;
  cursor: pointer;
/*
   * Set a base background for 1x environments.
   */
  background: url("../images/close.png") center no-repeat;
  background-size: 25px;
/*
   * Create an @2x-ish media query.
   */
/*
   * Create media queries for all environments that the user has
   * provided images for.
   */
  background-size: 26px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .close {
    background: url("../images/close@2x.png") center no-repeat;
    background-size: 25px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .close {
    background: url("../images/close@2x.png") center no-repeat;
    background-size: 25px;
  }
}
.modal-bg {
  display: none;
  background-color: #000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
a.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}
* {
  box-sizing: border-box;
}
body {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}
html,
body {
  background-color: #dfe0e2;
  height: 100%;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-size: 30px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 44px;
  }
}
h2 {
  font-size: 26px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 36px;
  }
}
p {
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  p {
    font-size: 24px;
    line-height: 32px;
  }
}
.panel {
  position: relative;
  width: 100%;
}
.container {
  width: 100%;
  margin: auto;
  position: relative;
  padding: 0 20px;
}
@media (min-width: 576px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 992px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
    padding: 0 10px;
  }
}
.panels {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 992px) {
  .panels {
    flex-direction: row;
  }
}
.prev,
.next {
  width: 20px;
  height: 39px;
  position: absolute;
  cursor: pointer;
}
.prev {
  top: calc(100% - 225px);
/*
   * Set a base background for 1x environments.
   */
  background: url("../images/arrows.png") top left no-repeat;
  background-size: 40px;
/*
   * Create an @2x-ish media query.
   */
/*
   * Create media queries for all environments that the user has
   * provided images for.
   */
  background-position: left top;
  left: 0;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .prev {
    background: url("../images/arrows@2x.png") top left no-repeat;
    background-size: 40px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .prev {
    background: url("../images/arrows@2x.png") top left no-repeat;
    background-size: 40px;
  }
}
@media (min-width: 992px) {
  .prev {
    top: calc(100% - 165px);
    left: -30px;
  }
}
.next {
  top: calc(100% - 225px);
  right: 0;
/*
   * Set a base background for 1x environments.
   */
  background: url("../images/arrows.png") top right no-repeat;
  background-size: 40px;
/*
   * Create an @2x-ish media query.
   */
/*
   * Create media queries for all environments that the user has
   * provided images for.
   */
  background-position: right top;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .next {
    background: url("../images/arrows@2x.png") top right no-repeat;
    background-size: 40px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .next {
    background: url("../images/arrows@2x.png") top right no-repeat;
    background-size: 40px;
  }
}
@media (min-width: 992px) {
  .next {
    right: -30px;
    top: calc(100% - 165px);
  }
}
section.intro-section {
  padding-top: 20px;
  background: #164722;
  padding-bottom: 90px;
}
@media (min-width: 576px) {
  section.intro-section {
    padding-top: 60px;
  }
}
@media (min-width: 768px) {
  section.intro-section {
    padding-top: 160px;
    background: -moz-linear-gradient(0deg, #dfe0e2 30%, #164722 30%);
    background: -webkit-linear-gradient(0deg, #dfe0e2 30%, #164722 30%);
    background: linear-gradient(0deg, #dfe0e2 30%, #164722 30%);
    padding-bottom: 0;
  }
}
@media (min-width: 992px) {
  section.intro-section {
    padding-top: 220px;
  }
}
section.intro-section header {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  section.intro-section header {
    margin-bottom: 60px;
  }
}
@media (min-width: 992px) {
  section.intro-section .panel-left {
    max-width: 55%;
  }
}
@media (min-width: 1200px) {
  section.intro-section .panel-left {
    max-width: 60%;
  }
}
section.intro-section .panel-left img {
  width: 100%;
  max-width: 600px;
}
@media (min-width: 992px) {
  section.intro-section .panel-left img {
    width: 600px;
  }
}
section.intro-section .panel-left p {
  max-width: 665px;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  section.intro-section .panel-left p {
    margin-bottom: 70px;
  }
}
section.intro-section .panel-left .key-strengths {
  position: relative;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  section.intro-section .panel-left .key-strengths {
    margin-bottom: 0;
  }
}
section.intro-section .panel-left .key-strengths-list {
  background-color: #fff;
  color: #000;
  border-radius: 2px;
  max-width: 600px;
  margin-top: 40px;
  padding: 15px;
}
@media (min-width: 992px) {
  section.intro-section .panel-left .key-strengths-list {
    padding: 30px;
    position: absolute;
    top: 19.8%;
    right: -250px;
    width: 540px;
    margin-top: 0;
  }
}
section.intro-section .panel-left .key-strengths-list h3 {
  font-weight: 700;
  font-size: 24px;
}
section.intro-section ul {
  list-style-type: none;
  padding-left: 0;
}
section.intro-section li {
  font-size: 18px;
  text-indent: -15px;
  padding-left: 30px;
  margin-bottom: 12px;
}
@media (min-width: 992px) {
  section.intro-section li {
    line-height: 32px;
    font-size: 24px;
  }
}
section.intro-section li:before {
  content: "\2713";
  display: inline-block;
  padding-right: 15px;
}
section.intro-section .panel-right {
  max-width: 100%;
}
@media (min-width: 992px) {
  section.intro-section .panel-right {
    max-width: 30%;
    display: block;
    margin-right: 30px;
  }
}
section.intro-section .single-item {
  min-width: 200px;
}
@media (min-width: 992px) {
  section.intro-section .single-item {
    height: 292px;
  }
}
section.intro-section .single-item p {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fabd13;
}
section.intro-section .single-item img {
  margin: auto;
  height: 150px;
}
@media (min-width: 992px) {
  section.intro-section .single-item img {
    height: 292px;
  }
}
section.about-section {
  padding-bottom: 90px;
  padding-top: 30px;
  color: #000;
}
@media (min-width: 992px) {
  section.about-section {
    padding-top: 135px;
  }
}
section.about-section h2 {
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  section.about-section h2 {
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  section.about-section h2:before {
    content: '';
    display: block;
    padding-right: 15px;
    border-top: solid 4px #000;
    position: absolute;
    top: -50px;
    width: 25px;
    height: 6px;
  }
}
section.about-section p {
  font-size: 18px;
  line-height: 24px;
}
section.about-section .panels section {
  max-width: 700px;
  margin: 20px 0;
}
@media (min-width: 992px) {
  section.about-section .panels section {
    max-width: 340px;
    margin: 0;
  }
}
section.solutions-section {
  padding: 60px 0;
  background-color: #fff;
  color: #000;
}
section.solutions-section header {
  padding-bottom: 15px;
  border-bottom: solid 1px #dfe0e2;
}
section.solutions-section p {
  font-size: 18px;
  max-width: 571px;
  line-height: 24px;
}
section.solutions-section .tab {
  border-bottom: solid 1px #dfe0e2;
  padding: 30px 0;
}
section.solutions-section .tab h3 {
  margin-bottom: 10px;
}
section.solutions-section .tab-8 .modal-popup {
  font-size: 18px;
  max-width: 571px;
}
section.solutions-section .tab-title {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
section.solutions-section .tab-title:hover {
  color: #fabd13;
}
section.solutions-section .tab-title::after {
  content: '';
  border: solid #000;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 16px;
  position: relative;
  top: -6px;
}
section.solutions-section .tab-title.open {
  color: #fabd13;
}
section.solutions-section .tab-title.open::after {
  border-color: #fabd13;
  top: 2px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
section.solutions-section .tab-content {
  padding-top: 20px;
  display: none;
}
section.solutions-section .tab-content-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  section.solutions-section .tab-content-container {
    flex-direction: row;
  }
}
section.solutions-section .tab-content-container img {
  margin-right: 30px;
  max-width: 190px;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  section.solutions-section .tab-content-container img {
    margin-bottom: 0;
  }
}
section.solutions-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}
section.solutions-section ul li {
  display: inline;
  margin: 0 2px;
}
section.solutions-section ul li a {
  color: #164722;
}
section.solutions-section ul li a:hover {
  color: #fabd13;
}
section.leadership-section {
  background-color: #164722;
  padding: 40px 0;
}
@media (min-width: 992px) {
  section.leadership-section {
    padding: 90px 0;
  }
}
@media (min-width: 992px) {
  section.leadership-section .container > header {
    margin-bottom: 30px;
  }
}
section.leadership-section h2 {
  color: #ffa500;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
section.leadership-section h3 {
  font-size: 24px;
  font-weight: 400;
}
section.leadership-section p {
  font-size: 18px;
  line-height: 24px;
}
section.leadership-section .panels header {
  padding: 30px 0;
}
@media (min-width: 992px) {
  section.leadership-section .panels section {
    max-width: 278px;
    margin: 0 10px;
  }
}
section.facilities-section {
  color: #000;
  background-color: #dfe0e2;
  padding: 40px 0;
}
@media (min-width: 992px) {
  section.facilities-section {
    padding: 90px 0;
  }
}
section.facilities-section header {
  margin-bottom: 60px;
}
section.facilities-section p.description {
  max-width: 716px;
  font-weight: 400;
  padding-bottom: 60px;
  font-size: 24px;
  line-height: 32px;
}
section.facilities-section .facilities {
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  section.facilities-section .facilities {
    justify-content: space-evenly;
  }
}
@media (min-width: 768px) {
  section.facilities-section .facilities {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 992px) {
  section.facilities-section .facilities {
    flex-direction: row;
  }
}
section.facilities-section .facilities .facility {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  section.facilities-section .facilities .facility {
    width: 48%;
  }
}
@media (min-width: 992px) {
  section.facilities-section .facilities .facility {
    width: 48%;
  }
}
@media (min-width: 1200px) {
  section.facilities-section .facilities .facility {
    width: 33%;
    margin-bottom: 40px;
    margin-right: 0;
  }
}
section.facilities-section .facilities .facility h3 {
  color: #164722;
  margin-top: 10px;
}
section.facilities-section .facilities .facility img {
  width: 100%;
}
@media (min-width: 1200px) {
  section.facilities-section .facilities .facility img {
    max-width: 415px;
  }
}
section.facilities-section .facilities .facility p {
  font-size: 18px;
  line-height: 1.2;
}
section.news-section {
  border-top: solid 1px #eee;
  background-color: #fff;
  color: #000;
  padding: 40px 0;
}
@media (min-width: 992px) {
  section.news-section {
    padding: 90px 0;
  }
}
section.news-section header {
  margin-bottom: 90px;
}
section.news-section a {
  color: #000;
  font-size: 16px;
}
@media (min-width: 576px) {
  section.news-section a {
    font-size: 24px;
  }
}
section.news-section a:hover {
  color: #164722;
}
section.news-section article {
  padding-bottom: 40px;
}
