doctype html
html
	head
		title Malena Andrade: Web Interface Developer

		meta(charset="UTF-8")
		link(href='http://fonts.googleapis.com/css?family=Architects+Daughter|Swanky+and+Moo+Moo' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Alegreya+Sans:300' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=PT+Sans|Open+Sans|Raleway' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Lora|Noto+Serif|Muli:400,300' rel='stylesheet' type='text/css')
		link(href='public/dist/fonts/styles.css' rel='stylesheet' type='text/css')
		link(type="text/css", rel="stylesheet", href="public/dist/css/project.min.css")
		link(rel="shortcut icon" type="image/x-icon" href="public/dist/images/favicon.ico")
		<!--[if IE 8]>
		<script src="public/dist/js/modernizr.js"></script>
		<![endif]-->
		script. 
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga'); 
			ga('create', 'UA-32158459-1', 'auto'); 
			ga('send', 'pageview');

	body(class="mandrade")
		.modal.fade(id="Websites" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			.modal-dialog 
				.modal-content 
					.modal-body 
						h3 Websites
						ul.project-list
							li 
								a(href="http://www.pinehq.com/", target="_blank") Pine HQ
								p Pine HQ was the latest static website I did for the PINE app. It includes simple scrolling animations. 
							li
								a(href="http://www.meadjohnson.com/", target="_blank") Mead Johnson
								p For Mead Johnson I played a major role in creating modular responsive components, including the main menu, the carousel and a google map.
							li
								a(href="http://www.shelsilverstein.com/", target="_blank") Shel Silverstein
								p Shel Silverstein was a project I got to code from scratch using Django to integrate the Python back end.
							li
								a(href="http://www.gibsonsfinest.ca/", target="_blank") Gibsons Finest
								p Gibsons Finest is a static site I coded from scratch back in 2010 before parallax libraries were popularized.

		.modal.fade(id="Experiments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			.modal-dialog 
				.modal-content 
					.modal-body 
						h3 Fun Learning Experiments
						ul.project-list
							li
								a(href="http://malena.github.io/angular-hangman/#/", target="_blank") Hangman
								p Hangman was my most recent experiment where I had some fun learning to use Angular.js.
							li
								a(href="http://malena.github.io/javascript-experiments/google_maps/", target="_blank") Google Map Tabs
								p I got to make a Google Maps component for Mead Johnson, and this was just a test before I began coding the final version.
							li
								a(href="http://malena.github.io/training/", target="_blank") Training
								p I was inspired by Boucoup Training to create a guide for junior front ends entering our dev team at Trapeze
							li
								a(href="http://malena.github.io/javascript-experiments/calculator/", target="_blank") Calculator
								p Calculator was my first experiment where I truly learned more about logic and programming.

		.modal.fade(id="Apps" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			.modal-dialog 
				.modal-content 
					.modal-body 
						h3 Web and Mobile Apps
						ul.project-list
							li
								a(href="http://www.jumptools.com/", target="_blank") Jumptools
								p The first web application I got to work on was Jumptools. This was the first time I had my hand in researching user flow and user experience. At the time I was fully responsible for the front end as well as conducting video usability tests.
							li
								a(href="https://socialsca.pe/#/entries", target="_blank") socialsca.pe
								p The second web application I got to work on was Socialsca.pe. This was my first time delving into a Node, Angular and MongoDB environment.
							li
								a(href="http://www.pinehq.com", target="_blank") PINE 
								p PINE was my first time working on a mobile app. We used Cordova and Ionic Framework along with Angular. We also used React.js for an in app browser component view.

		.modal.fade(id="Campaigns" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			.modal-dialog 
				.modal-content 
					.modal-body 
						h3 Campaigns and Maintenance
						ul.project-list
							li
								a(href="http://www.holtrenfrew.com/", target="_blank") Holt Renfrew
								p I was was the Lead Front End for the Holt Renfrew website campaigns and maintenance team where I was also in charge of their facebook fan page.
							li
								a(href="http://www.shoppersdrugmart.ca/", target="_blank") Shoppers Drug Mart
								p I got to work as a Lead on simple Django template campagins as well as maintenance on their corporate site within their .Net environment.
							li
								a(href="http://www.homedepot.ca/", target="_blank") Home Depot
								p I jumped in with a larger team to help out with general maintenance and tickets assigned through JIRA.
							li
								a(href="http://www.royallepage.ca/", target="_blank") Royal LePage 
								p I was a lead for their corporate online event campaign where I got to work on-site. I was also in charge of email templates integrating with Constant Contact. I also styled their corporate MLS listing views inside Jumptools.
							li
								a(href="http://www.gm.ca/", target="_blank") GM
								p I was part of the GM end of year update team, completing car model updates, content migration and ensuring complete accuracy between deployments. 


		.panel.panel-1
			.panel-inner
				header.tagline
					h1.title Malena Andrade
					.description
					p I am cat lady who thinks alpaca’s are adorable. I love cozy sweaters and socks, have a scattered mind, love the outdoors and coffee. I also design and code websites.
					.social-icons
						a.icon-github(href="https://github.com/malena", target="_blank")
						a.icon-twitter(href="http://twitter.com/malena_andrade", target="_blank")
						a.icon-linkedin(href="http://www.linkedin.com/pub/malena-andrade/14/b14/425", target="_blank")
						a.icon-instagram(href="https://instagram.com/holamalenita", target="_blank")

				img.img-malena(src="public/dist/images/malena.png", width="771", height="921")

		.panel.panel-2
			.panel-inner
				header
					h2 Front End Web Developer
					p I have been building websites and interfaces since 2008. Currently doing work for places like <a target="_blank" href="http://www.silverorange.com">silverorange</a>, <a target="_blank" href="http://www.mozilla.com">Mozilla</a> and <a target="_blank" href="http://www.alaia.com">Alaia</a> with some amazing people.
				.projects
					.leaf.fun
						span.title(class="span-pulse"): a(data-toggle="modal", data-target="#Experiments") Experiments
						img(class="img-pulse" src="public/dist/images/leaf.png", width="50", height="44")
						
					.leaf.websites
						span.title(class="span-pulse"): a(data-toggle="modal", data-target="#Websites") Websites 
						img(class="img-pulse" src="public/dist/images/leaf.png", width="50", height="44")
						

					.leaf.apps
						span.title(class="span-pulse"): a(data-toggle="modal", data-target="#Apps") Apps 
						img(class="img-pulse" src="public/dist/images/leaf.png", width="50", height="44")
						

					.leaf.campaigns
						span.title(class="span-pulse"): a(data-toggle="modal", data-target="#Campaigns") Campaigns 
						img(class="img-pulse" src="public/dist/images/leaf.png", width="50", height="44")
						
				.panel-2-tree
					img.tree-top(src="public/dist/images/tree-full.png", width="642", height="907")

			.panel-2-grass
					

		.panel.panel-3
			.panel-inner
				header
					h2 Witnessing change 
					p I started my career when jQuery was hot and ie6 was still the most popular browser. I've witnessed the evolution of browsers and the exponential growth of development tools.
	
				.technologies.resume
					img.curls(src="public/dist/images/curls.png", width="817", height="845")

					.html.resume-html
						h3.flower HTML 
						ul 
							li.jade Jade
							li.sem-html Semantic HTML
							li.accessible Accessible HTML

					.css.resume-css
						h3.flower CSS
						ul
							li.less LESS
							li.styl Stylus
							li.boot Bootstrap
							li.sem-ui Semantic UI

					.js.resume-js
						h3.flower JS
						ul 
							li.jquery jQuery 
							li.backb Backbone
							li.angular Angular
							li.node Node
							li.grunt Grunt

		.panel.panel-4
			.panel-inner
				img.mountains(src="public/dist/images/mountains.png", width="1087", height="524") 
				div.stars
					.star.star-1
					.star.star-2
					.star.star-3
					.star.star-4
					.star.star-5
					.star.star-6
					.star.star-7
					.star.star-8

				header
					h2 Doing the things that make me smile 
					p Hiking, running, climbing, cycling, beer, chocolate, coffee, exploring the world, these are the sort of things that make me smile. 
				.social-icons
					a.icon-flickr(href="http://www.flickr.com/photos/activitybubble/", target="_blank")
					a.icon-linkedin(href="http://www.linkedin.com/pub/malena-andrade/14/b14/425", target="_blank")
					a.icon-twitter(href="http://twitter.com/malena_andrade", target="_blank")
					a.icon-facebook(href="http://www.facebook.com/holamalenita", target="_blank")
					a.icon-github(href="https://github.com/malena", target="_blank")
					a.icon-instagram(href="https://instagram.com/holamalenita", target="_blank")
				a.blog(href="http://www.blog.mandrade.com", target="_blank") www.blog.mandrade.com

		
	script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
	script(src="public/dist/js/project.min.js")

