doctype html
html
	head
		title Malena Andrade: Web Interface Developer

		link(href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(type="text/css", rel="stylesheet", href="public/dist/project.min.css")

	body(class="mandrade", ng-app="mandrade")

		.panel.panel-1
			.panel-inner.splash
				img.panel-1-body(src="public/dist/images/panel-1.png")

				.tagline
					h2 ALOo!
					p My name is Malena. I currently work remotely with an awesome team at <a href="http://www.igniter.com">Igniter</a>  as a Web Developer doing all sorts of awesome. 


		.panel.panel-2
			.panel-inner.projects
				h2 Projects
				div.pulses
					a.pulse.pulse-1(data-toggle="modal", data-target="#pulse", href="http://www.google.com"): img(src="public/dist/images/pulse-1.png")
					a.pulse.pulse-2(href="#"): img(src="public/dist/images/pulse-1.png")
					a.pulse.pulse-3(href="#"): img(src="public/dist/images/pulse-1.png")
					a.pulse.pulse-4(href="#"): img(src="public/dist/images/pulse-1.png")
					a.pulse.pulse-5(href="#"): img(src="public/dist/images/pulse-1.png")

				img.panel-2-tree(src="public/dist/images/panel-2.png")


				ul.guides-list
					li
						.primary-content
							h3 
								a(href="http://malena.github.io/angular-hangman") Hangman
							p This game is built with angular. It was an experiment to learn how to use the framwork. 

						.secondary-content 
							span.icon-circle.themed--background 
								i.icon.icon-lessons

					li
						.primary-content
							h3
								a(href="http://malena.github.io/angular-hangman") Training Guide 
							p This training guide was built for training resources at one of my jobs.
						.secondary-content 
							span.icon-circle.themed--background 
								i.icon.icon-lessons

					li
						.primary-content
							h3 
								a(href="http://malena.github.io/angular-hangman") Beer Wheel 
							p This beer wheel was created for my partner how brews beer. 
						.secondary-content 
							span.icon-circle.themed--background 
								i.icon.icon-lessons

					li
						.primary-content
							h3 
								a(href="http://malena.github.io/angular-hangman") Calculator 
							p This was the first time I wrote a program using best javascript practices. 
						.secondary-content 
							span.icon-circle.themed--background 
								i.icon.icon-lessons

		.panel.panel-3
			.panel-inner
				h2 Skills
				.resume

					img.panel-3-overlay(src="public/dist/images/panel-3-overlay.png")

					h3.resume-html HTML 
					ul 
						li Experience writing semantic HTML5, as well as Jade.

					h3.resume-css CSS 
					ul
						li Experience with LESS, Stylus, Bootstrap, Semantic UI.

					h3.resume-js JS
					ul 
						li Experience writing javascript as well as using jQuery, Backbone, Angular, Node and configuring Grunt tasks.

		.panel.panel-4
			.panel-inner
				.about
					h2 About 
					p Besides doing web stuff, I also love exploring the world, hanging with locals and meeting other travelers. 
					p My dream is to live near mountains and to one day own an alpaca!
					.social-icons
						a.flickr(href="http://www.flickr.com/photos/activitybubble/") Flickr
						a.linkedin(href="http://www.linkedin.com/pub/malena-andrade/14/b14/425") LinkedIn
						a.twitter(href="http://twitter.com/malena_andrade") Twitter
						a.facebook(href="http://www.facebook.com/people/Malena-Andrade/714909781") Facebook
						a.github(href="https://github.com/malena") GitHub
						a.instagram(href="http://instagram.com/malena_andrade") Instagram
					a(href="http://www.mandrade.com/blog") www.mandrade.com/blog
				img(src="public/dist/images/panel-1.png") 

		.modal.fade(id="pulse")
			.modal-dialog 
				.modal-content 
					.modal-header 
						h1 header
					.modal-body 
						p hello 



		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.8/TweenMax.min.js")
		script(src="public/dist/jquery.superscrollorama.js")
		script(src="public/dist/project.min.js")
