doctype html
html
	head
		title Malena Andrade: Web Interface Developer

		link(href='http://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css')
		link(type="text/css", rel="stylesheet", href="public/dist/project.min.css")

	body(ng-app="mandrade")
		.panel.splash(id="splash")
			img(src="public/dist/images/character.png")
			.tagline
				h2 Hello!
				p My name is Malena Andrade. I work at <a href="http://www.igniter.com">Igniter</a> as a Web Developer, doing all sorts of awesome.

				.social-icons
					a.flickr(href="http://www.flickr.com/photos/activitybubble/") Flickr
					a.linkedin(href="http://www.linkedin.com/pub/malena-andrade/14/b14/425") LinkedIn
					a.twitter(href="http://twitter.com/malena_andrade") Twitter
					a.facebook(href="http://www.facebook.com/people/Malena-Andrade/714909781") Facebook
					a.github(href="https://github.com/malena") GitHub
					a.instagram(href="http://instagram.com/malena_andrade") Instagram

		.panel.projects(id="projects")
			h2 Projects

			.projects-container
				.box
					h3 Hangman

				.box
					h3 Training Guide 

				.box
					h3 Beer Wheel

				.box
					h3 Calculator

		.panel.skills
			h2 Skills
			p Ultimately my goal is to create beautiful and intuitive interfaces maintaining integrity with today’s web standards. 

			.resume
				h3 HTML 
				ul 
					li Experience writing semantic HTML5, as well as Jade.

				h3 CSS 
				ul
					li Experience with LESS, Stylus, Bootstrap, Semantic UI.

				h3 JAVASCRIPT 
				ul 
					li Experience writing javascript as well as using jQuery, Backbone, Angular, Node and configuring Grunt tasks.

		.panel.experience
			h2 Experience 



		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-resource.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.8/TweenMax.min.js")
		script(src="public/dist/project.min.js")
